html {
  /* サイズ */
  font-size: 20px; 
  text-align: center;
}

body {
  /* フォントの種類、中央寄せ */
  text-align: center;
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  /* h1のフォントの種類、サイズ、文字間隔、影、カラー実線(115,115,114) */
  font-family: "Josefin Sans", sans-serief;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: solid 3px lightgray;
  text-shadow: 2px 2px 3px rgb(115,115,114);
}

.pink {
  /* classピンク:文字の色 */
  color: rgb(255,192,203)
}
.blue {
  /* classブルー:文字の色 */
   color: skyblue
}

#basic p {
  /* id basic：文字の太さ */
  font-weight: bold;
}